.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem; 
    height: 100vh;
}

.element {
    background-color: #fabb00;
    border-radius: 25rem;
    text-align: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    }


.element:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.element:nth-child(2),
.element:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.element:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}

.element:nth-child(5) {
    grid-column: span 2;
    grid-row: span 2;
}